/* ---------- Dockbar ---------- */
@media (max-width: 979px) {
  .aui * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .aui #heading {
    bottom: 100%;
    position: absolute; }
    .aui #heading .site-title {
      font-size: 26px; }
      .aui #heading .site-title img {
        width: 35px; }
  .aui #navigation {
    display: none; }
    .aui #navigation.open {
      display: block; }
      .aui #navigation.open .navbar-inner {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        padding: 10px; }
        .aui #navigation.open .navbar-inner .nav-collapse {
          height: auto;
          overflow: visible; }
    .aui #navigation .nav {
      margin: 0; }
  .aui .dockbar-split .dockbar, .aui .dockbar {
    float: right;
    height: auto;
    position: relative;
    z-index: 401; }
    .aui .dockbar-split .dockbar .info-items, .aui .dockbar .info-items {
      height: auto;
      position: static;
      width: 300px; }
    .aui .dockbar-split .dockbar .navbar-inner, .aui .dockbar .navbar-inner {
      width: auto; }
      .aui .dockbar-split .dockbar .navbar-inner .btn-navbar, .aui .dockbar .navbar-inner .btn-navbar {
        background: transparent;
        border: none;
        float: left;
        font-size: 24px;
        padding: 12px 15px; }
        .aui .dockbar-split .dockbar .navbar-inner .btn-navbar:hover, .aui .dockbar .navbar-inner .btn-navbar:hover {
          background-color: #5BBAE8; }
        .aui .dockbar-split .dockbar .navbar-inner .btn-navbar.open, .aui .dockbar .navbar-inner .btn-navbar.open {
          background-color: #F5AF45; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls, .aui .dockbar .navbar-inner .nav-account-controls {
        padding: 0 5px; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls .user-avatar-image, .aui .dockbar .navbar-inner .nav-account-controls .user-avatar-image {
          display: none; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls, .aui .dockbar .navbar-inner .nav-add-controls {
        background: transparent;
        border-top-width: 0;
        position: static;
        z-index: 350;
        padding: 0 5px; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li, .aui .dockbar .navbar-inner .nav-add-controls > li {
          float: none;
          margin: 0;
          position: relative; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a, .aui .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a {
            clip: rect(auto auto auto auto);
            position: static;
            visibility: visible; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li .page-preview-controls, .aui .dockbar .navbar-inner .nav-add-controls > li .page-preview-controls {
            display: none; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a, .aui .dockbar .navbar-inner .nav-add-controls > li > a {
            background: transparent;
            text-align: left;
            white-space: nowrap; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover, .aui .dockbar .navbar-inner .nav-add-controls > li > a:hover {
              background: #F3f3f3; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"] {
              font-size: 22px;
              margin-top: 0; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link, .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
              background: transparent; }
              .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"] {
                color: #FFF; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label, .aui .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label {
              background: transparent;
              display: inline;
              left: 0;
              margin-left: 0;
              margin-top: 0;
              padding: 0;
              position: relative; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover .nav-item-label, .aui .dockbar .navbar-inner .nav-add-controls > li > a:hover .nav-item-label {
              display: inline; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .icon-caret-down, .aui .dockbar .navbar-inner .nav-add-controls > li > a .icon-caret-down {
              display: none; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-collapse, .aui .dockbar .navbar-inner .nav-collapse {
        z-index: 400; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-collapse.open, .aui .dockbar .navbar-inner .nav-collapse.open {
          overflow: visible; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav, .aui .dockbar .navbar-inner .nav-collapse > .nav {
          background: #285bd6;
          border-width: 0;
          left: auto;
          margin: 0;
          min-width: 160px;
          position: absolute;
          right: 0;
          z-index: 400; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a, .aui .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a {
            font-size: 16px;
            line-height: 32px; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown.open > .dropdown-toggle, .aui .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown.open > .dropdown-toggle {
            color: #FFFFFF; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a {
            color: #FFF;
            font-size: 16px;
            margin: 5px 0;
            padding: 6px 15px; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
              background-color: #5BBAE8; }
  .aui .portlet-dockbar {
    display: inline-block;
    width: 100%; }
  .aui .signed-out #_145_navAddControlsNavbarBtn {
    display: none; } }

