.aui {
  /* ---------- Staging dockbar ---------- */
  /* ---------- Add content ---------- */
  /* ---------- Menus ---------- */
  /* ---------- Customization bar ---------- */ }
  .aui .dockbar {
    left: 0;
    right: 0;
    top: 0; }
    .aui .dockbar .staging-controls .staging-bar li.dropdown .dropdown-menu {
      left: auto;
      margin-left: 10px;
      width: auto; }
    .aui .dockbar.navbar-static-top {
      position: fixed;
      z-index: 400; }
      .aui .dockbar.navbar-static-top .collapse {
        position: static; }
        .aui .dockbar.navbar-static-top .collapse .nav-account-controls {
          position: static; }
    .aui .dockbar .btn-link {
      color: #FFF; }
    .aui .dockbar .diamond {
      border: 12px solid transparent;
      border-bottom-color: #1485EB;
      height: 0;
      position: relative;
      top: -12px;
      width: 0; }
      .aui .dockbar .diamond:after {
        border: 12px solid transparent;
        border-top-color: #1485EB;
        content: '';
        height: 0;
        left: -12px;
        position: absolute;
        top: 12px;
        width: 0; }
    .aui .dockbar .impersonating-user .alert-icon {
      margin-right: 9px; }
    .aui .dockbar .impersonating-user .alert-info {
      border-width: 0;
      margin-bottom: 6px; }
    .aui .dockbar .info-button {
      top: 9px; }
    .aui .dockbar .info-items {
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 1; }
    .aui .dockbar .navbar-inner {
      padding-left: 20px;
      padding-right: 20px;
      background-color: #40789C;
      background-image: none; }
      .aui .dockbar .navbar-inner .brand h1 {
        display: inline-block;
        font-size: inherit;
        line-height: 1;
        margin-bottom: 0;
        margin-top: 0; }
      .aui .dockbar .navbar-inner .container {
        margin-left: 0;
        margin-right: 0;
        width: 100%; }
        .aui .dockbar .navbar-inner .container .nav-account-controls {
          float: right; }
      .aui .dockbar .navbar-inner .site-administration-menu li {
        list-style: none; }
        .aui .dockbar .navbar-inner .site-administration-menu li a {
          color: #000;
          display: block;
          padding: 3px 5px 3px 40px; }
          .aui .dockbar .navbar-inner .site-administration-menu li a:focus, .aui .dockbar .navbar-inner .site-administration-menu li a:hover {
            background: #0DB5E7;
            color: #FFF;
            text-decoration: none; }
          .aui .dockbar .navbar-inner .site-administration-menu li a i {
            font-size: 0.8em; }
    .aui .dockbar .nav.staging-nav-items {
      margin: 0;
      position: static; }
      .aui .dockbar .nav.staging-nav-items li.dropdown.active > .dropdown-toggle {
        background-color: transparent;
        display: block; }
        .aui .dockbar .nav.staging-nav-items li.dropdown.active > .dropdown-toggle:hover {
          color: #0077B3; }
      .aui .dockbar .nav.staging-nav-items .staging-link {
        position: static; }
    .aui .dockbar .user-avatar img {
      margin-top: -2px;
      text-decoration: none;
      vertical-align: middle;
      width: 20px; }
  .aui .dockbar-split .dockbar {
    height: 0;
    position: absolute; }
    .aui .dockbar-split .dockbar .staging-controls .staging-bar li.dropdown .dropdown-menu {
      left: 0;
      margin-left: 0;
      width: 100%; }
    .aui .dockbar-split .dockbar.navbar-static-top .collapse {
      position: relative; }
      .aui .dockbar-split .dockbar.navbar-static-top .collapse .nav-account-controls {
        position: fixed; }
    .aui .dockbar-split .dockbar .divider-vertical {
      display: none; }
    .aui .dockbar-split .dockbar .info-button {
      top: 12px; }
    .aui .dockbar-split .dockbar .info-items {
      left: auto;
      position: static; }
    .aui .dockbar-split .dockbar .navbar-inner {
      background-color: transparent;
      border-width: 0;
      padding: 0;
      width: 0;
      background-color: #40789C;
      background-image: none; }
      .aui .dockbar-split .dockbar .navbar-inner .nav {
        border-bottom-width: 0; }
        .aui .dockbar-split .dockbar .navbar-inner .nav > li {
          background-color: #40789C; }
          .aui .dockbar-split .dockbar .navbar-inner .nav > li > a {
            color: #FFF;
            line-height: 31px; }
            .aui .dockbar-split .dockbar .navbar-inner .nav > li > a:focus, .aui .dockbar-split .dockbar .navbar-inner .nav > li > a:hover {
              color: #FFF; }
            .aui .dockbar-split .dockbar .navbar-inner .nav > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav > li > a [class*=" icon-"] {
              margin-top: 3px; }
          .aui .dockbar-split .dockbar .navbar-inner .nav > li.active > a {
            color: #FFF; }
        .aui .dockbar-split .dockbar .navbar-inner .nav li.dropdown.active > .dropdown-toggle {
          color: #FFF; }
        .aui .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle {
          background-color: #555;
          color: #FFF; }
        .aui .dockbar-split .dockbar .navbar-inner .nav li.info-items {
          background-color: transparent; }
        .aui .dockbar-split .dockbar .navbar-inner .nav li.staging-toggle > a {
          background-color: #2496E5;
          padding-bottom: 0;
          padding-top: 0; }
          .aui .dockbar-split .dockbar .navbar-inner .nav li.staging-toggle > a:hover {
            background-color: #2FA4F5; }
        .aui .dockbar-split .dockbar .navbar-inner .nav li.staging-toggle span.nav-item-label {
          padding: 5px 10px; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls {
        left: auto;
        margin-right: 0;
        padding: 0;
        position: fixed;
        right: 5em;
        z-index: 325; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls {
        background: transparent;
        position: fixed;
        top: 10%;
        z-index: 350; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li {
          float: none;
          margin: 10px;
          position: relative; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a {
            clip: rect(0 0 0 0);
            position: absolute; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a:focus {
              clip: rect(auto auto auto auto);
              position: static; }
          @media (max-width: 979px) {
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li.page-preview-controls {
              display: none; } }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
            background: #333;
            color: #FFF;
            padding: 6px 8px;
            text-align: center; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover {
              background: #555; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"] {
              font-size: 25px;
              position: relative;
              vertical-align: middle; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
              background: #92F545; }
              .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"] {
                color: #000; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label {
              background: #333;
              display: none;
              left: 100%;
              margin-left: 0.5em;
              margin-top: -1em;
              padding: 0 20px;
              position: absolute;
              top: 50%;
              white-space: nowrap; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover .nav-item-label {
              display: block; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .icon-caret-down {
              display: none; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls:hover > li.toggle-controls a {
          clip: rect(auto auto auto auto);
          position: static; }
    .aui .dockbar-split .dockbar .staging-nav-items li > span {
      color: #FFF;
      display: block;
      padding: 10px 15px;
      line-height: 31px; }
  .aui .dockbar-split .info-link-container {
    width: 0; }
  .aui .dockbar-split .info-items {
    height: 1px;
    width: 715px; }
    .aui .dockbar-split .info-items a, .aui .dockbar-split .info-items .btn-link {
      color: #FFF;
      text-decoration: underline; }
      .aui .dockbar-split .info-items a:hover, .aui .dockbar-split .info-items .btn-link:hover {
        text-decoration: none; }
        .aui .dockbar-split .info-items a:hover .taglib-text, .aui .dockbar-split .info-items .btn-link:hover .taglib-text {
          text-decoration: none; }
    .aui .dockbar-split .info-items .btn-link {
      border-width: 0;
      font-size: 14px;
      font-weight: 300;
      margin: 0 0 0 6px;
      padding: 0;
      text-shadow: none; }
  .aui .dockbar-split .staging-bar {
    margin: 10px 0; }
  .aui .dockbar-split.controls-hidden .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
    background: #40789C; }
  .aui .dockbar-split.lfr-has-add-content .nav-add-controls {
    left: 350px; }
  .aui .dockbar-split.lfr-has-device-preview .nav-add-controls {
    left: 220px; }
  .aui .dockbar-split.lfr-has-edit-layout .nav-add-controls {
    left: 460px; }
  .aui.dialog-iframe-root-node .dockbar .nav-add-controls .page-preview-controls {
    display: none; }
  .aui .touch .dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link, .aui .controls-hidden.dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
    clip: rect(auto auto auto auto);
    position: static; }
  .aui .variation-selector {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em; }
  .aui .layout-revision-container {
    margin: 1em 0 0 1em;
    padding: 0; }
    .aui .layout-revision-container .approximate-date {
      color: #999;
      font-weight: bold; }
    .aui .layout-revision-container .current-version {
      color: #41801d;
      display: block; }
    .aui .layout-revision-container .current-version-pointer {
      display: inline-block;
      width: 0; }
      .aui .layout-revision-container .current-version-pointer img {
        left: -25px;
        position: relative; }
    .aui .layout-revision-container .layout-variation-name {
      color: #666;
      font-size: 1.15em;
      margin-bottom: 0.1em;
      text-transform: uppercase; }
    .aui .layout-revision-container .layout-revision-current {
      color: #666; }
    .aui .layout-revision-container .real-date {
      color: #999;
      display: block;
      text-align: right; }
    .aui .layout-revision-container .taglib-workflow-status .workflow-status {
      background: none;
      padding-left: 0; }
      .aui .layout-revision-container .taglib-workflow-status .workflow-status .workflow-status-ready-for-publication {
        color: #41801d;
        font-weight: bold; }
  .aui .layout-revision-container-root {
    margin: 0; }
  .aui .staging-controls {
    padding-left: 5px;
    padding-right: 50px; }
    .aui .staging-controls select {
      width: 100%; }
    .aui .staging-controls .staging-bar .dropdown-menu {
      font-size: 13px;
      min-width: 520px;
      width: 100%; }
      .aui .staging-controls .staging-bar .dropdown-menu .btn-link {
        float: left;
        font-size: 11px;
        margin: 0 5px 0 0;
        padding: 0;
        text-decoration: underline;
        text-shadow: none; }
        .aui .staging-controls .staging-bar .dropdown-menu .btn-link:hover {
          text-decoration: none; }
        .aui .staging-controls .staging-bar .dropdown-menu .btn-link.history {
          float: right; }
  .aui .lfr-admin-panel {
    background-color: #FFF;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 1100; }
    @media (max-width: 767px) {
      .aui .lfr-admin-panel {
        height: 100%;
        padding-bottom: 0;
        padding-top: 0;
        position: absolute; } }
  .aui .lfr-has-add-content {
    padding-left: 350px; }
  .aui .lfr-has-device-preview {
    padding-left: 220px; }
  .aui .lfr-has-edit-layout {
    padding-left: 460px; }
  .aui .dropdown-menu > li > a:focus > [class^="icon-"] {
    background-image: none; }
  .aui .my-sites-menu .site-type {
    color: #FFF;
    display: none;
    float: right;
    font-size: 0.8em;
    font-weight: normal;
    margin-right: 10px;
    position: absolute;
    right: 100%; }
  .aui .my-sites-menu a:hover .site-type {
    color: #FFFFFF;
    display: inline-block; }
  .aui .ie.rtl .dockbar .menu-button span {
    background-position-x: -25px; }
  .aui.ie6 .dockbar-split .dockbar .navbar-inner .nav-add-controls li.page-preview-controls, .aui.ie7 .dockbar-split .dockbar .navbar-inner .nav-add-controls li.page-preview-controls, .aui.ie8 .dockbar-split .dockbar .navbar-inner .nav-add-controls li.page-preview-controls {
    display: none; }
  .aui .ie7 .dockbar {
    zoom: 1; }
  .aui .ie7 .my-sites-menu a {
    overflow: visible;
    text-align: left; }
  .aui .ie7 .my-sites-menu .site-name {
    float: none; }
  .aui .ie7 .my-sites-menu .site-type {
    float: none; }
  .aui .ie6 .dockbar, .aui .ie6 .lfr-dockbar-pinned .dockbar {
    height: 10px;
    left: 0;
    position: relative;
    top: 0; }
  .aui .ie6 .dockbar .pin-dockbar {
    display: none; }
  .aui .ie6 .my-sites-menu {
    width: 200px; }
    .aui .ie6 .my-sites-menu a {
      zoom: 1; }
  .aui .ie6 .menu-scroll {
    height: 300px;
    overflow-y: auto; }
  .aui .controls-hidden .info-button, .aui .controls-hidden .page-customization-bar {
    display: none; }
  .aui .info-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    right: 12px;
    z-index: 1; }
    .aui .info-button a {
      color: #FFF;
      padding: 2px 10px;
      position: absolute;
      text-decoration: none;
      z-index: 1; }
    .aui .info-button .icon-stop {
      color: #1485EB;
      font-size: 20px; }
  .aui .page-customization-bar {
    background-color: #555;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    display: table;
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px;
    width: 100%; }
    .aui .page-customization-bar .customized-icon {
      margin: 5px;
      vertical-align: middle; }
    .aui .page-customization-bar .page-customization-actions {
      padding-left: 5em; }
    .aui .page-customization-bar .page-customization-actions a {
      color: #EEE;
      font-size: 0.8em;
      padding: 0 1em; }
    .aui .page-customization-bar .page-customization-bar-form {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 25%; }
      .aui .page-customization-bar .page-customization-bar-form a {
        color: #FFF; }
        .aui .page-customization-bar .page-customization-bar-form a:focus, .aui .page-customization-bar .page-customization-bar-form a:hover {
          color: #FFF;
          text-decoration: none; }
      .aui .page-customization-bar .page-customization-bar-form span {
        display: block;
        line-height: 20px; }
    .aui .page-customization-bar .page-customization-bar-text {
      display: table-cell;
      height: 51px;
      vertical-align: middle;
      width: 75%; }
    .aui .page-customization-bar .page-customization-bar-container {
      position: absolute; }
    .aui .page-customization-bar .reset-prototype {
      display: inline; }
  @media (max-width: 1140px) {
    .aui .dockbar-split .dockbar .info-items {
      width: 515px; } }

