/*default version*/
@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url("fonts/ProximaNovaSemibold.otf") format("opentype"); }

@font-face {
  font-family: 'ProximaNovaReg';
  src: url("fonts/ProximaNovaReg.otf") format("opentype"); }

.portlet-title {
  background-color: #d6e2ff !important;
  color: #000 !important;
  font-weight: bold !important; }

.aui .icon-remove {
  color: #000  !important; }

.portlet-content {
  box-shadow: 0px 0px 20px #0003; }

#wrapper {
  background-color: #f5f6fa !important; }

.portlet {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #fff !important; }

.ui-button-text-only .ui-button-text {
  padding: 0px !important; }

.general_btn {
  color: white !important;
  font-size: 10px;
  height: 25px !important;
  margin: 0 !important;
  width: auto !important;
  overflow: hidden !important;
  background: #336fff !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: Arial;
  font-size: 10px !important;
  font-weight: bolder !important;
  box-shadow: 0px 0px 10px #0002 !important;
  transition: all 0.3s linear;
  font-size: small !important; }

.general_btn:hover {
  color: #336fff !important;
  background: #fff !important;
  border: 1px solid #336fff !important; }

.ui-button-text-only .ui-button-text {
  padding: 0em 1em !important; }

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
  width: calc(94% - 0.4em) !important; }

.aui .dockbar .navbar-inner, .aui .dockbar-split .dockbar .navbar-inner {
  /*background-image: linear-gradient(to bottom, #fff,#809af3) !important;*/
  background-color: #285bd6; }

.aui .dockbar .navbar-inner .nav > li, .aui .dockbar-split .dockbar .navbar-inner .nav > li {
  /*background-image: linear-gradient(to bottom, #fff,#809af3) !important;*/
  background-color: #285bd6; }

.aui .dockbar .nav > li > a {
  color: #ffffff !important;
  font-weight: bold !important;
  font-family: 'ProximaNovaSemibold', sans-serif; }

.yui3-widget-content-expanded .dialog-iframe-node {
  background: #fff !important; }

